.App {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.head-wrap {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #24292e;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.logo {
    float: left;
    margin-left: 15px;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.head-nav{
    overflow: hidden;
    float: right;
    margin-right: 5px;
    list-style: none;
}
.head-nav li{
    float: left;
}
.head-nav li a{
    display: block;
    padding: 0 10px;
    height: inherit;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.head-nav li a:hover{
    color: #ddd;
}

main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.left-box {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    background-color: #fafafa;
}

.left-box>h1 {
    padding: 10px 0;
    text-indent: 15px;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    background-color: rgba(36, 41, 46, 0.1);
}
/*.left-box>h1 i{
    margin-right: 5px;
}*/

.left-box>.add-new {
    position: absolute;
    display: block;
    width: 30px;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 30px;
    color: #47423f;
    cursor: pointer;
    border-radius: 100%;
}
.left-box>.add-new:hover{
    background-color: #24292e;
    color: #fff;
}

.right-box {
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.list-wrap {
    list-style: none;
}

.list-wrap li {
    display: flex;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}
.list-wrap li .listtitle{
    flex: 1;
    text-indent: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-wrap li i{
    margin-right: 10px;
    display: block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    float: right;
    font-size: 14px;
    color: #8e857e;
    text-align: center;
}

.list-wrap li:hover {
    background-color: #fff;
    color: #47423f;
}

.list-wrap li.active {
    background-color: #fff;
    color: #47423f;
}

/* 右边的预览区域样式*/
.preview-top{
    height: 50px;
    line-height: 50px;
    text-align: right;
    background-color: rgba(36, 41, 46, 0.1);
}
.preview-top>i{
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}
.preview-top>i:active{
    background-color: #24292e;
    color: #fff;
}

a.modify-btn,a.delete-btn{
    display: inline-block;
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    border-radius: 15px;
    background-color: #ddd;
    cursor: pointer;
}
a.delete-btn{
    margin-right: 20px;
}

a.modify-btn:hover,a.modify-btn:active{
    background-color: #24292e;
    color: #fff;
}

a.delete-btn:hover,a.delete-btn:active{
    background-color: red;
    color: #fff;
}

.preview-wrap{
    padding: 10px;
}

.preview-wrap h1 {
    margin-bottom: 10px;
    color: #47423f;
}
.preview-wrap p {
    line-height: 1.5;
    color: #8e857e;
}


/* 悬浮层样式 */

.layer-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.layer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 100;
}
.layer-left,.layer-right{
    padding: 5px;
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;    
}
.layer-left{
  float: left;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.layer-right{
  float: right;
}
.layer-preview{
    position: absolute;
    top: 46px;
    left: 5px;
    right: 5px;
    bottom: 0;
    overflow-y: auto;
}

.layer-left>h3,.layer-right>h3{
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #f4efea;
  margin-bottom: 10px;
}
.icon-save,.icon-close{
    position: absolute;
    top: 0;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    z-index: 101;
    cursor: pointer;
    border-radius: 100%;
}
.icon-save{
    right: 50px;
}
.icon-close{
    right: 10px;
}
.icon-save:hover,.icon-close:hover{
    background-color: #24292e;
    color: #fff;
}

.input-box{
  margin-bottom: 10px;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.input-box input{
  display: block;
  width: 100%;
  height: inherit;
  line-height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
}
.textarea-box{
  position: absolute;
  top: 107px;
  left: 5px;
  right: 5px;
  bottom: 0;
}
.textarea-box textarea{
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
}

.layer-preview{
  line-height: 1.6;
}

@media screen and (max-width: 480px) {
    .head-wrap{
        height: 50px;
        line-height: 50px;
    }
    main{
        top: 50px;
    }
    .left-box{
        float: none;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        transition: left .5s;        
    }
    .left-box h1{
        padding: 5px 0;
    }
    .left-box>.add-new{
        top: 5px;
    }
    .list-wrap li .listid{
        float: right;
        border-radius: 0;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    .right-box{
        float: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 100%;
        top: -100%;
        transition: left .5s;
    }

    /* 右边预览区域*/
    .preview-top{
        height: 40px;
        line-height: 40px;
    }
    .preview-top>i{
        display: block;
    }
    a.delete-btn{
        margin-right: 5px;
    }

    .layer-left{
        float: none;
        width: 100%;
        border-right: none;
    }
    .layer-right{
        display: none;
    }
    .input-box{
        height: 40px;
    }
    .input-box input{
        line-height: 40px;
    }
    .textarea-box{
        top: 97px;
    }

    /* 滑动动画 */
    .left-box.toLeft{
        left: -100%;
    }
    .left-box.toRight{
        left: 0;
    }
    .right-box.toLeft{
        left: 0;
        top: 0;
    }
    .right-box.toRight{
        left: 100%;
    }
}