.App {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.head-wrap {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #24292e;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.logo {
    float: left;
    margin-left: 15px;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.left-box {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    background-color: #fafafa;
}

.left-box>h1 {
    padding: 10px 0;
    text-indent: 15px;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    background-color: rgba(36, 41, 46, 0.1);
}
.left-box>h1 i{
    margin-right: 5px;
}

.left-box>.add-new {
    position: absolute;
    display: block;
    width: 30px;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 30px;
    color: #47423f;
    cursor: pointer;
}
.left-box>.add-new:hover{
    background-color: #8e857e;
    color: #fff;
}

.right-box {
    position: relative;
    float: left;
    width: 79%;
    height: 100%;
    overflow-y: auto;
}

.list-wrap {
    list-style: none;
}

.list-wrap li {
    display: flex;
    justify-content: space-around;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}
.list-wrap li .listid{
    display: block;
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}
.list-wrap li .listtitle{
    flex: 1;
    text-indent: 10px;
}
.list-wrap li i{
    margin-right: 8px;
    display: block;
    height: 35px;
    line-height: 35px;
    float: right;
    font-size: 14px;
    color: #8e857e;
}

.list-wrap li:hover {
    background-color: #fff;
    color: #47423f;
}

.list-wrap li.active {
    background-color: #fff;
    color: #47423f;
}

.preview-wrap{
    padding: 10px;
}

.preview-wrap h1 {
    margin-bottom: 10px;
    color: #47423f;
}
.preview-wrap p {
    line-height: 1.5;
    color: #8e857e;
}


/* 悬浮层样式 */

.layer-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.layer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 100;
}
.layer-left,.layer-right{
    padding: 5px;
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;    
}
.layer-left{
  float: left;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.layer-right{
  float: right;
}

.layer-left>h3,.layer-right>h3{
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #f4efea;
  margin-bottom: 10px;
}
.icon-save,.icon-close{
    position: absolute;
    top: 0;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    z-index: 101;
    cursor: pointer;
}
.icon-save{
    right: 50px;
}
.icon-close{
    right: 10px;
}
.icon-save:hover,.icon-close:hover{
    background-color: #8e857e;
    color: #fff;
}

.input-box{
  margin-bottom: 10px;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.input-box input{
  display: block;
  width: 100%;
  height: inherit;
  line-height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
}
.textarea-box{
  position: absolute;
  top: 107px;
  left: 5px;
  right: 5px;
  bottom: 0;
}
.textarea-box textarea{
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
}

.layer-preview{
  line-height: 1.6;
}

.icon-close{

}

@media screen and (max-width: 480px) {
    .head-wrap{
        height: 50px;
        line-height: 50px;
    }
    .logo{
        float: none;
        text-align: center;
        margin-left: 0;
    }
    main{
        top: 50px;
    }
    .left-box{
        float: none;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        /*left: calc( -100% + 50px);*/
        z-index: 2;
        transition: left .5s;        
    }
    .list-wrap li .listid{
        float: right;
        height: 35px;
        line-height: 35px;
        border-radius: 0;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    /*.listtitle,.list-wrap li i{
        display: none;
    }*/
    .right-box{
        float: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 100%;
        top: -100%;
        transition: left .5s;        
    }
    .layer-left{
        float: none;
        width: 100%;
        border-right: none;
    }
    .layer-right{
        display: none;
    }

    /* 滑动动画 */
    .left-box.toLeft{
        left: -100%;
    }
    .left-box.toRight{
        left: 0;
    }
    .right-box.toLeft{
        left: 0;
        top: 0;
    }
    .right-box.toRight{
        left: 100%;
    }
}