*{
  margin: 0;
  padding: 0;
}
html{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a{
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
*:active{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'iconfont';  /* project id 267234 */
  src: url('//at.alicdn.com/t/font_bpfbfrt4hdea5rk9.eot');
  src: url('//at.alicdn.com/t/font_bpfbfrt4hdea5rk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_bpfbfrt4hdea5rk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_bpfbfrt4hdea5rk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_bpfbfrt4hdea5rk9.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}